.container {
    display: grid;
    grid-template-columns:auto auto auto auto;
    height: 600px;
    gap: 20px;
    padding: 10px;
    background-color:brown;
    grid-template-rows: 100px;
}
.box {
    background-color:lightsalmon;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body {
    background-color:lightcoral;
}